@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html{
    font-size: 100%;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.7;
    color: rgb(0, 0, 0);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

/* header */
.main-nav{
    display: flex;
    font-size: 1.5vw;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;

    position: absolute;
    right: 100px;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: #432;
}
.main-nav a:hover{
    color: #0bd;
}
.page-title{
    text-align: center;
    position: relative;
    color: #0123b4;
    font-size: 4vw;
    top: 60px;
}
#header{
    background-image: url(../images/icon.png);
    background-color: #0bd;
    height: 200px;
}

/* footer */
footer {
    background: #432;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 500px;
}
footer p{
    color: #fff;
    font-size: 0.875vw;
}
.fo{
    margin-bottom: 0px;
}

/* grid */
.grid{
    display: grid;
    gap: 26px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 6%;
    margin-bottom: 50px;
}


.main{
    text-align: center; 
    font-weight: bold;
}
.main h1{
    font-size: 6.5vw;
    letter-spacing: -3px;
    line-height: 12vh;
}
.main h2{
    font-size: 2vw;
    line-height: 40px;
}
.main p{
    font-size: 1vw;
}
.poster{
    display: grid;
    gap: 26px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 3%;
}
.poster img{
    max-width: 100%;
    height: auto;
    display: block;
}
.poster p{
    text-align: center;
}
.contant{
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contant h2{
    font-size: 2.5vw;
    color: #ffffff;
    position: relative;
    top: 100px;
    margin-left: 30px;
}
#main{
    background-image: url(../images/main.jpg);
    height: 500px;
}
#page1{
    background-image: url(../images/kpop_img01.jpg);
    min-height: 100vh;
}
#page2{
    background-image: url(../images/food.jpg);
    min-height: 100vh;
}
#page3{
    background-image: url(../images/drama.jpg);
    min-height: 100vh;
}
#page4{
    background-image: url(../images/it.jpg);
    min-height: 100vh;
}
